<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send"><br>
    <input type="text" name="user_id" id="user_id">
    <input type="text" name="jwt_access" id="jwt_access"><br><br>
    <input type="button" name="auth" id="auth_btn" value="Вход">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data).data;
            document.querySelector('#chat-log').value += (data.message_text + '\n');
            chatSocket.send(JSON.stringify({
                "subsystem": "chat",
                "action": "read_message",
                "headers": {
                    "jwt_access": document.getElementById("jwt_access").value,
                },
                "data": {
                    "user_id": Number(document.getElementById("user_id").value),
                    "message_id": data.message_id,
                },
            }))
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'subsystem': 'chat',
                'action': 'receive_message',
                'headers': {
                    "jwt_access": document.getElementById("jwt_access").value,
                },
                'data': {
                    'user_id': Number(document.getElementById("user_id").value),
                    'message_text': message,
                },
            }));

            messageInputDom.value = '';
        };

        document.getElementById("auth_btn").onclick = function(e) {
            chatSocket.send(JSON.stringify({
                "subsystem": "auth",
                "action": "auth",
                "headers": {
                    "jwt_access": document.getElementById("jwt_access").value,
                }
            }))
        }
    </script>
</body>
</html>

<!-- 
    admin (1): eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzE1NTA2MzAwLCJpYXQiOjE3MTU0ODgzMDAsImp0aSI6IjE3ODEzZDMyZDczODRlOTNhNmJiNmZmM2EyMGZmNmUzIiwidXNlcl9pZCI6MX0.8qBxfT1PWo0-jZTEi_PuisaSepGbB_5lKcBxxpd0jB4
    username_0 (2): eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzE1NTA2MzI4LCJpYXQiOjE3MTU0ODgzMjgsImp0aSI6ImE4OTRhZjYyNmQ3YzQwMTk5Y2Y1NTBjNzA0MGVlMzcxIiwidXNlcl9pZCI6Mn0.VvlZmHdxwtiFOfquOC5-o6sUnayuC8zsje4CeDIvCMU
    username_1 (3): eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzE1NTA2OTk0LCJpYXQiOjE3MTU0ODg5OTQsImp0aSI6IjUzMGY0NDVhOGFhNzQwNmFhODQyOTVhMDdkNTZkZWViIiwidXNlcl9pZCI6M30.b8G47AFGxodhkNV8fTO5RVkkZv1gIes3jvLITLCaXx0
-->
