@import "../../index.scss";

.interlocutor__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  // gap: 10px;
  padding: 6px 16px;
  justify-content: space-between;
}

.interlocutor__username__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.interlocutor__username {
  font-size: 18px;
  text-decoration: none;
  color: #000;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

.msg_indicator {
  // background-color: $clr-yellow;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.msg_indicator--active {
  background-color: $clr-red;
}